.app {
  background-color: #0f1829;
}

.bg-blue-gradient {
  background: linear-gradient(144.39deg,
      #0f1829 -278.56%,
      #192742 -78.47%,
      #0f1829 91.61%);
}


/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */